.carousel-control{
    color: rgba(0,0,0,0.75);
}

.lower-carousel-caption {
    text-shadow:0 1px 2px rgba(0,0,0,0.6);
}

.main-raised {
    margin: -360px 30px 0px;
}

.profile-page .header {
    height: 650px;
}

.fading {
    background: url('../img/water.jpg');
}

.fading {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(201, 201, 201, 0) 40%, rgba(201, 201, 201, 1) 100%), url('../img/water.jpg') no-repeat;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}
.navbar .navbar-nav > li > a .material-icons,
.navbar .navbar-nav > li > a .fa {
    font-size: 32px;
    max-width: 32px;
}

.nav-pills > li > a {
    min-width: 60px;
}

.nav-pills > li i {
    display: inline;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}