
<div class="row">
    <h4>Skills:</h4>
    <span class="label label-primary">Algorithms</span>
    <span class="label label-primary">Machine learning</span>
    <span class="label label-primary">Math</span>
    <span class="label label-primary">Problem solving</span>
</div>

<div class="row">
    <h4>Languages:</h4>
    <span class="label label-info">Python</span>
    <span class="label label-info">C++</span>
    <span class="label label-info">Lua</span>
    <span class="label label-info">Java</span>
    <br>
</div>

<div class="row">
    <h4>Tools:</h4>
    <span class="label label-success">Git</span>
    <span class="label label-success">Vim</span>
    <span class="label label-success">Linux</span>
    <br>
</div>


<h3>Education</h3>
<h5>Finished Moscow Lyceum 1581 of Bauman Moscow State University</h5>
<h5>Currently second year student  at Saint Petersburg Academic University of RAS studying Mathematics and Information Technology</h5>
