<h3>Skills</h3>
<div class="row">
    <p>Languages:</p>
    <span class="label label-info">Python</span>
    <span class="label label-info">C++</span>
    <span class="label label-info">Lua</span>
    <span class="label label-info">Java</span>
    <br><br>
</div>

<div class="row">
    <p>Tools:</p>
    <span class="label label-success">Git</span>
    <span class="label label-success">Vim</span>
    <span class="label label-success">Linux</span>
    <br><br>
</div>

<div class="row">
    <p>Frameworks:</p>
    <span class="label label-primary">Flask</span>
    <span class="label label-primary">Keras</span>
    <span class="label label-primary">Theano</span>
    <span class="label label-primary">scikit-learn</span>
</div>

<h3>Education</h3>
<h5>Finished Moscow Lyceum 1581 of Bauman Moscow State University</h5>
<br>
<h5>Currently second year student  at Saint Petersburg Academic University of RAS studying Mathematics and Information Technology</h5>
