<h3><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/qumeric/instabattle">Instabattle</a></h3>
<p>Work in progress. Sorry if the live version doesn't work properly.</p>
<p><i class="fa fa-globe"></i>&nbsp;<a href="http://instabattle.herokuapp.com">live</a></p>

<h3><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/qumeric/paclitaxel-classify">Paclitaxel Classify</a></h3>
<p>Classification of cells under influence of the drug Paclitaxel (Taxol).</p>
<iframe src="https://docs.google.com/presentation/d/1WMHLelgOt6VetYuVmEKelA8L8Lu7rYUWecJhEo6W0GI/embed?start=false&loop=false&delayms=5000" frameborder="0" width="560" height="344" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<h3><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/qumeric/fall">Fall</a></h3>
<p>A game. Works on Android and desktop platforms.</p>
<p>Should be published in Google Play soon.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QU9-IxkCzlY" frameborder="0" allowfullscreen></iframe>

<h3><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/qumeric/tetris">Tetris</a></h3>
<p>Yet another tetris clone</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/a_PuiySvJ6w" frameborder="0" allowfullscreen></iframe>


<h3><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/qumeric/tsp-suboptimal">Traveling Salesman Problem solver</a></h3>
<p>Implementation of 6 different solving algorithms, namely:</p>
<ul class="list-group">
    <li class="list-group-item">Brute force</li>
    <li class="list-group-item">Branch and bound</li>
    <li class="list-group-item">2-OPT algorithm (using MST)</li>
    <li class="list-group-item">Annealing imitation</li>
    <li class="list-group-item">Closest neighbor</li>
    <li class="list-group-item">Ant algorithm</li>
</ul>
<!-- Carousel Card -->
<div class="card card-raised card-carousel">
    <div id="carousel-tsp" class="carousel slide" data-ride="carousel">
        <div class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-tsp" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-tsp" data-slide-to="1"></li>
                <li data-target="#carousel-tsp" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ url_for('static', filename='img/tsp10.png') }}" alt="Small Solution">
                    <div class="carousel-caption">
                        <h4><i class="material-icons">linear_scale</i>10 points</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='img/tsp50.png') }}" alt="Medium Solution">
                    <div class="carousel-caption">
                        <h4><i class="material-icons">linear_scale</i>50 points</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='img/tsp250.png') }}" alt="Large Solution">
                    <div class="carousel-caption">
                        <h4><i class="material-icons">linear_scale</i> 250 points</h4>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-tsp" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
            <a class="right carousel-control" href="#carousel-tsp" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </div>
    </div>
</div>
<!-- End Carousel Card -->

<h3><i class="fa fa-github"></i>&nbsp;<a href="https://github.com/qumeric/magnets">Magnets</a></h3>
<p>Initially written at EduGames hackathon (team "Shaitan")</p>
<iframe src="//vk.com/video_ext.php?oid=185223905&id=171185401&hash=e6c40fb662436a6d&hd=2" width="560" height="315" frameborder="0" allowfullscreen></iframe>
